<div class="col-md-10 buffer-bottom pt-4">
  <p>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <small class="text-secondary font-weight-bold"><%= l(comment.created_at, format: :short) %></small>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
              fa_icon('trash'), event_comment_path(comment.event, comment),
              method: :delete, data: {confirm: t('.destroy_confirm')}
          ) %>
    <% end %>
  </p>
  <div class="border rounded p-3 comment-body">
    <%= comment.body %>
  </div>
</div>

