<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <%= link_to "BBQ!", root_path, id: 'logo' %>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.name}", current_user, class: 'nav-link' %></li>
        <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
      <% else %>
        <li><%= link_to 'Войти', new_user_session_path, class: 'nav-link' %></li>
        <li><%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>
