<!DOCTYPE html>
<html>
<head>
  <title>Bbq</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <%= link_to "BBQ!", root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class = "nav-item"><%= link_to "Link1", "/path1", class: "nav-link"  %></li>
          <li class = "nav-item"><%= link_to "Link2", "/path2", class: "nav-link" %></li>
          <li class = "nav-item"><%= link_to "Link3", "/path3", class: "nav-link" %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row buffer-top">
      <div class="col-lg-9">

        <%= flash_messages %>
        <%= yield %>
      </div>
    </div><!--/row-->

    <footer>
      <p>&copy; Company 2016</p>
    </footer>
  </div>
</body>
</html>
